body{
	color: white;
	font-size: 16px;
}

a, span{
  font-weight:500;
  color: #f48c3e;
}
a:hover, a:active, a:focus{
  color: #38b698;
  text-decoration: none;
}

  .fb{
    color: #38b698;
  }
/* header
*/

.bg__black{
	  background: url('../img/robot.png') left bottom no-repeat, url('../img/aros.png') right bottom no-repeat, #000;
    background-size: auto 100%;
  	width: 100%;
  	height: 100vh;
}

.main{
  display:grid;
  grid-template-columns: 60px, 1fr
}
.header {
  padding: 1rem 5%;
  display:grid;
  background: rgb(0,0,0,.5);
  background-blend-mode:multiply;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}


.header img, .footer img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
  .event__date{
    text-align:center;
  }
  .facebook{
    text-align:right;
  }

.btn{
  color: #fff;
  background: #f48c3e;
  padding: 7px 22px;
  border: 2px solid #f48c3e;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 10px;
  line-height: 1;
}
  .btn--register{
    margin:0;
    background:none;

  }

/* event date*/
.event__date{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  width:120px;
  justify-self:center;
}
  .e--day{
    justify-self:start;
    color:white;
    font-size:1.5rem;
  }
  .e--year{
    color:white;
    font-size:1.5rem;
    justify-self:end;
  }
  .e--date{
    font-weight:700;
    font-size:3rem;
    color: #f48c3e;
    grid-column: 1 / -1;
  }
/* Counter */
.steps{
  color: #9b9b9b;
  display: grid;
  font-size:1rem;
  grid-template-columns: 1fr 200px;
  text-align:center;
  width:60%;
  grid-gap: 2rem;
  justify-self: right;
  margin-right: 5%;
}
  .step__title{
    grid-column: 1 / -1;;
  }

  .steps p{
    color: white;
    font-size: 2rem;
    line-height: 1.5;
  }
    .steps_buy{
      grid-column: 1 / span 3;
      color:white;
      font-size:2rem

    }
.counter{
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 10rem;
  color: #f48c3e;
  line-height: 8rem;
  height:calc(100vh - 60px);
}
  .counter__title{
    grid-column:1 / -1;
    font-size: 2rem;
    color:white;
  }
  .counter__item{
    cursor:pointer;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items:center;
    justify-self: end;
    margin-right: 5%;
    width:60%;  
  }
    .timer__label{
      display: block;
      font-size: 1.5rem;
      font-style: italic;
      line-height: .8;
      text-align: center;
      position: relative;
      color: #38b698;
    }
    .cta__counter{
      font-size: 2rem;
    }

    .counter__item:hover, .timer__label:hover, .cta__counter:hover{
      text-shadow:2px 2px 2px 2px white;
    }

.footer{
  text-align:right;
  justify-self: end;
  align-self: end;
  position: absolute;
  bottom: 0;
  right: 5%;
}


/* Medias query */ 

@media (min-width: 768px) and (max-width: 1024px) {
    #header img{
    max-width: 300px;
    height: auto;
  }
  .collapse {
  
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #header img{
    max-width: 300px;
    height: auto;
  }

  
}
@media (min-width: 481px) and (max-width: 767px) {
    #header img{
    max-width: 250px;
    height: auto;
  }

  
}

@media (max-width: 480px ){
	#header img{
		max-width: 200px;
		height: auto;
	}
}